.image-editor-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-frame {
  margin-top: 20px;
  border: 2px solid #ccc;
  padding: 10px;
}

.image-uploader-container {
  margin-bottom: 20px;
}

.crop-preview {
  margin-top: 20px;
  max-width: 100%;
}
